.page-header
  .container
    .page-header__inner
      .page-header__title
          h1.page-title__text Thử một ngày làm nông ở nông trại dairy farm hot nhất mộc châu
      .page-header__content
        .page-header__social
          +image-lazy('img/products/social-share.jpg')
        .page-header__date Ngày 05 tháng 01 năm 2020
