.section-block.section-block--book.section-block--feedback
  .container
    .section-header.section-header--book.section-header--feedback
      div.section-header__image
        +image-lazy('img/info/quote.png', 'quote__image', 'contain')
      h2.section-header__title Khách hàng nhận xét
    .section-content.home-howto.customer-feedback
      .home-howto__inner
      .carousel-product.carousel-feedback
        .carousel.carousel--product.js-carousel-product
          .carousel__item.home-howto__item
            .home-howto__item-inner
              .home-howto__item-icon
                +image-lazy('img/info/feedback1.png', 'info-policy__image info-policy__image-1', 'contain')
              .home-howto__item-description Sự vụ chuyên nghiệp của các bạn đã đồng hành với chất lượng tour du lịch của chúng tôi. Cùng đem đến sự hài lòng và yêu mến của khách hàng. Cảm ơn Viotrans! Sự vụ chuyên nghiệp của các bạn đã đồng hành với chất lượng tour du lịch của chúng tôi. Cùng đem đến sự hài lòng và yêu mến của khách hàng. Cảm ơn Viotrans!
              .home-howto__item-text
                h4.author  Mr. Lương Thỉnh
                p.description CEO Lương gia Travel
          .carousel__item.home-howto__item
            .home-howto__item-inner
              .home-howto__item-icon
                +image-lazy('img/info/feedback2.png', 'info-policy__image info-policy__image-1', 'contain')
              .home-howto__item-description Tôi rất hài lòng với thái độ lái xe của Viotrans, rất niềm nở và luôn thân thiện tạo cho Khách hàng cảm thấy an toàn trong hành trình của mình.
              .home-howto__item-text
                h4.author  Mr. Lương Thỉnh
                p.description CEO Lương gia Travel
          .carousel__item.home-howto__item
            .home-howto__item-inner
              .home-howto__item-icon
                +image-lazy('img/info/feedback3.png', 'info-policy__image info-policy__image-1', 'contain')
              .home-howto__item-description Tôi rất hài lòng với thái độ lái xe của Viotrans, rất niềm nở và luôn thân thiện tạo cho Khách hàng cảm thấy an toàn trong hành trình của mình. Tôi rất hài lòng với thái độ lái xe của Viotrans, rất niềm nở và luôn thân thiện tạo cho Khách hàng cảm thấy an toàn trong hành trình của mình.
              .home-howto__item-text
                h4.author  Mr. Lương Thỉnh
                p.description CEO Lương gia Travel
          .carousel__item.home-howto__item
            .home-howto__item-inner
              .home-howto__item-icon
                +image-lazy('img/info/feedback3.png', 'info-policy__image info-policy__image-1', 'contain')
              .home-howto__item-description Tôi rất hài lòng với thái độ lái xe của Viotrans, rất niềm nở và luôn thân thiện tạo cho Khách hàng cảm thấy an toàn trong hành trình của mình. Tôi rất hài lòng với thái độ lái xe của Viotrans, rất niềm nở và luôn thân thiện tạo cho Khách hàng cảm thấy an toàn trong hành trình của mình.
              .home-howto__item-text
                h4.author  Mr. Lương Thỉnh
                p.description CEO Lương gia Travel
