.hero-info
  .container
    .page-title.page-title--info
      h1.page-title__text Công ty TNHH Thương mại và dịch vụ Viotrans
    .hero-info__inner
      .hero-info__detail
        p Lời đầu tiên VioTrans xin gửi tới quý khách hàng và đối tác lời chào trân trọng và lời chúc sức khỏe!

        p VioTrans ra đời với mục đích và tôn chỉ hàng đầu là cung cấp dịch vụ thuê xe một phong cách phục vụ chuyên nghiệp, đáp ứng được mọi nhu cầu của khách hàng. Chúng tôi mong muốn có thể giúp các khách hàng khai thác tối đa sức mạnh của công nghệ số việc lựa chọn mẫu xe phục vụ một chuyến đi, hành trình với sự an toàn, tiện nghi và thoải mái một cách nhanh chóng.

        p VioTrans cung nền tảng giao dịch trực tuyến giúp khách hàng có thể lựa chọn các mẫu xe một cách nhanh chóng phù hợp với hành trình của mình. Có những tính năng độc đáo và dễ sử dụng, www.viotrans.vn có thể giúp người dùng tìm kiếm, đặt xe, và thanh toán tiền thuê xe trực tuyến một cách dễ dàng trên máy tính, điện thoại di động, máy tính bảng được kết nối Internet.

        p Đồng hành cùng khách hàng, VioTrans cung cấp cho khách hàng các sản phẩm, dịch vụ tốt nhất trên cơ sở kết hợp hiểu biết về nghiệp vụ, khả năng công nghệ, kinh nghiệm thực tế với cả sự tận tâm và thiện chí, nhằm thỏa mãn tối đa yêu cầu của khách hàng. Tại đây, quý khách có thể tìm và thuê được các loại xe từ 4 đến 45 chỗ của nhiều dòng xe từ hạng phổ thông như: Mazda3, Civic, Inova, Sorento, CR-V, Ford Transit… đến hạng sang như: Mazda 6, Toyota Camry, Kia Sedona, Mercedes C250, BMW, Lexus…. Dịch vụ đáp ứng nhu cầu thuê xe có tài xế hay tài xế biết ngoại ngữ theo chuyến hay theo tháng để đưa đón nhân viên, đưa đón khách VIP, đưa rước sân bay, đi công tác, đi sự kiện, đi du lịch, đi team-building, về quê, cưới hỏi, v.v.

        p Để duy trì chất lượng dịch vụ tốt nhất, tăng tính cạnh tranh của sản phẩm, VioTrans luôn chú trọng đến công tác đào tạo và phát triển con người, nâng cao chất lượng dịch vụ, chăm sóc, hỗ trợ khách hàng và mang tới nhiều giá trị gia tăng khác. Chính vì vậy, VioTrans ngày càng được nhiều khách hàng tin tưởng và lựa chọn.

        p Liên hệ :
        p Hotile:0966.826.599‬
        p Email: booking@viotrans.vn
        p Địa chỉ: Số 38, đường Đình Thôn, phường Mỹ Đình 1, quận Nam Từ Liêm, Hà Nội, Việt Nam
      .hero-info__gallery
        +image-lazy('img/info/banner.png', 'hero-info__image', 'cover')
