.section-block.section-block--gray.section-block--join-us.section-block--info-policy
  .container
    .section-content
      .row
        .col-md-6.col-lg-3.join-us__col
          .join-us__item
            .join-us__item-inner
              .join-us__item-icon
                +image-lazy('img/info/Shape1.png', 'info-policy__image info-policy__image-1', 'contain')
              .join-us__item-title Chất lượng
              .join-us__item-text Xe ô tô chất lượng cao, nhân viên lái xe nhiều kinh nghiệm sẽ đem lại cảm giác sử dụng xe như xe của mình, an toàn, thoải mái.
        .col-md-6.col-lg-3.join-us__col
          .join-us__item
            .join-us__item-inner
              .join-us__item-icon
                +image-lazy('img/info/L0001.png', 'info-policy__image info-policy__image-2', 'contain')
              .join-us__item-title Sự hài lòng
              .join-us__item-text Đội ngũ tư vấn trẻ luôn nhiệt tình và niềm nở tạo cảm giác thoải mái trong việc tư vấn lựa chọn phù hợp với hành trình
        .col-md-6.col-lg-3.join-us__col
          .join-us__item
            .join-us__item-inner
              .join-us__item-icon
                +image-lazy('img/info/L0003.png', 'info-policy__image info-policy__image-3', 'contain')
              .join-us__item-title Dịch vụ đa dạng
              .join-us__item-text Đa dạng các loại xe từ 4 chỗ , 7 chỗ , 16 chỗ , 29 chỗ , 35 chỗ và 45 chỗ quý khách có thể tha hồ lựa chọn loại xe phù hợp với nhu cầu
        .col-md-6.col-lg-3.join-us__col
          .join-us__item
            .join-us__item-inner
              .join-us__item-icon
                +image-lazy('img/info/Shape4.png', 'info-policy__image info-policy__image-4', 'contain')
              .join-us__item-title Tin cậy & an toàn
              .join-us__item-text Chất lượng tốt nhất, tuân thủ nghiêm các quy định về an toàn kỹ thuật, bảo vệ môi trường, trang bị trong các tình huống khẩn cấp.
