.section-block.section-block--gray.section-block--info-review
  .container
    .section-box__inner
      .section-box__title
        h3.section-box__text Đánh giá - Bình luận
      .section-box__content
        .product-detail__comment
          +image-lazy('img/background/facebook.jpg', 'img-responsive')
