.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel__item {
  width: 100%;
}

.carousel--footer {
  .carousel__item {
    width: calc(100%/6);
  }

  .carousel__image {
    @include aspect(120, 170);
  }
}
