.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  @include mq(sm) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.carousel__item {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;

  @include mq(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.carousel--footer {
  .carousel__item {
    width: calc(100%/2);

    @include mq(sm) {
      width: calc(100%/4);
    }

    @include mq(m) {
      width: calc(100%/5);
    }

    @include mq(l) {
      width: calc(100%/6);
    }
  }

  .carousel__image {
    @include aspect(120, 170);
  }
}

.carousel--mega-search {
  margin: 0;

  .carousel__item {
    padding: 0;
  }

  .carousel__image {
    @include aspect(334, 750);

    @include mq(m) {
      @include aspect(335, 1914);
    }
  }

  .flickity-page-dots {
    display: none;

    @include mq(m) {
      display: block;
      position: absolute;
      right: 16px;
      bottom: 10px;
      z-index: 9;
      text-align: right;
    }
  }
}

.carousel--banner {
  .carousel__item {
    width: 100%;

    @include mq(sm) {
      width: calc(100%/2);
    }

    @include mq(m) {
      width: calc(100%/3);
    }
  }

  .carousel__image {
    @include aspect(163, 373);
  }
}

.carousel--event {
  @include mq(sm) {
    margin-left: -8px;
    margin-right: -8px;
  }

  .carousel__item {
    @include mq(sm) {
      width: 50%;
      padding-left: 8px;
      padding-right: 8px;
    }

    @include mq(ml) {
      width: 33.333%;
    }
  }

  &:after {
    content: 'flickity';
    display: none;

    @include mq(ml) {
      content: '';
    }
  }
}

.carousel--journey {
  @include mq(sm) {
    margin-left: -1px;
    margin-right: -1px;
  }

  .carousel__item {
    @include mq(sm) {
      width: 50%;
      padding-left: 1px;
      padding-right: 1px;
    }

    @include mq(ml) {
      width: 33.333%;
    }

    @include mq(l) {
      width: 25%;
    }
  }

  &:after {
    content: 'flickity';
    display: none;

    @include mq(ml) {
      content: '';
    }
  }
}
