@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";

.nav-main__wrap {
  border-bottom: 1px solid $border-color-secondary;
}

.nav-main__inner {
  display: flex;
}

.nav-main__menu {
  ul {
    display: flex;

    li {
      display: flex;
      border-right: 1px solid $border-color-secondary;

      &:first-child {
        a {
          .icon {
            margin-right: 0;
          }
        }
      }

      a {
        display: inline-block;
        padding: 15px 13px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: $c-black-1;

        @include mq(l) {
          padding: 17px 22px;
        }

        &:hover {
          text-decoration: none;
        }

        .icon {
          margin-right: 8px;
          font-size: 18px;
        }
      }
    }
  }
}

.nav-main__search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  cursor: pointer;

  .icon {
    font-size: 22px;
  }
}

.nav-main__search-form {
  opacity: 1;
  visibility: hidden;
  position: absolute;
}
