.nav-main
  .nav-main__wrap
    .container.nav-main__container
      .nav-main__inner
        .nav-main__menu
          ul
            li
              a(href="#" title="")
                i.icon.ion-ios-home
            li
              a(href="#" title="")
                i.icon.ion-ios-information-outline
                span Giới thiệu
            li
              a(href="#" title="")
                i.icon.ion-android-car
                span Xe & Dịch vụ
            li
              a(href="#" title="")
                i.icon.ion-ios-person-outline
                span Tư vấn
            li
              a(href="#" title="")
                i.icon.ion-cash
                span Bảng giá
            li
              a(href="#" title="")
                i.icon.ion-paper-airplane
                span Khám phá
            li
              a(href="#" title="")
                i.icon.ion-man
                span Tuyển dụng
            li
              a(href="#" title="")
                i.icon.ion-ios-contact-outline
                span Liên hệ
        .nav-main__search
          .nav-main__search-inner
            .nav-main__search-button.js-main-search-trigger
              span.icon.ion-ios-search-strong
            .nav-main__search-main
              form.nav-main__search-form
                input#iptSearchMobie.nav-main__search-input(type='search', placeholder='Từ khóa...')
                button.nav-main__search-button(type='button')
                  span.icon.ion-ios-search-strong
