@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.contact-maps {
  input {
    width: 100%;
    padding: 6px 16px 8px;
    border: 1px solid $c-gray-1;
    border-radius: 0;
  }

  select {
    width: 100%;
    padding: 7px 16px 5px;
    border: 1px solid $c-gray-1;
  }

  .contact-maps__find-store {
    font-size: 14px;
    line-height: 35px;
    width: 100%;
    margin: 16px 0 0;
    padding: 2px 30px;
    color: #fff;
    background: #dd4a4a;
    border-radius: 0;
    border: none;
    order: 3;
  }
}

.page-title.page-title--maps {
  padding: 39px 0 25px;
}

.contact-maps__inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  @include mq(ml) {
    flex-direction: row;
  }
}

.contact-maps__select,
input {
  margin-top: 16px;
}

.product-detail__sidebar.contact-maps__sidebar {
  width: 100%;
  margin-left: 0;

  @include mq(ml) {
    width: 275px;
    margin-left: 16px;
  }

  .section-box {
    border: 1px solid #eeeeee;
  }
}

.product-card--results {
  .product-card__title {
    @include mq(ml) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.section-box--results {
  padding: 16px 55px 0 28px;

  .section-box__title {
    padding: 0 0 16px;
  }
}

.section-box--maps {
  width: 100%;

  iframe {
    width: 100%;
  }
}

.contact-maps__main {
  width: 100%;
}

.button--result-contact {
  min-width: 145px;
  border-radius: 22px;
  height: 45px;
}

.paginations--contact-us {
  .paginations {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .button--pagination {
    display: flex;
    align-items: center;
    margin: 0 6px;
    color: #000;
    border-radius: 8px;
    background: transparent;
    padding: 7px 14px;
    border-color: $c-gray-1;
  }

  .button--pagination-prev {
    border: solid $c-black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
  }

  .button--pagination-next {
    border: solid $c-black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
}
