@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.event-info {
  padding-bottom: 20px;
}

.event-info__inner {
  border: 1px solid $border-color-primary;
}

.event__info-map-img {
  @include aspect(414, 577);
}

.event-info__inner-detail {
  margin-bottom: 10px;
  ul {
    li {
      padding: 13px 0;
      border-bottom: 1px solid $border-color-primary;

      &:last-child {
        border-bottom: 0;
      }

      strong {
        font-family: $font-roboto-medium;
        margin-right: 7px;
      }
    }
  }
}

.event-info__option {
  display: flex;
  justify-content: space-between;
}

.event-info__option-button {
  border-radius: 30px;
}

.event-card {
  padding: 15px 0;
  border-bottom: 1px solid $border-color-primary;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.event-card__inner {
  display: flex;
  flex-wrap: wrap;
}

.event-card__image {
  width: 84px;
}

.event-card__image-img {
  @include aspect(65, 84);
}

.event-card__content {
  flex: 1 1 0;
  padding-left: 15px;
}

.event-card__title {
  display: block;
  font-family: $font-roboto-medium;
  color: $text-color-primary;
}

.event-card__date {
  font-size: 13px;
}

.event-card__description {
  font-size: 13px;
}

.page-header {
  background-color: $color-white;
  padding: 30px 0;
}

.page-header__content {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.page-header__date {
  margin-left: 20px;
}
