@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.carousel-footer {
  padding: 20px 0;

  @include mq(m) {
    padding: 30px 0;
  }
}

.section-block {
  padding: 40px 0;
}

.section-block--red {
  background-color: #cf3737;
}

.section-block--gray {
  background-color: #f8f9fa;
}

.section-block--background {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.section-header {
  position: relative;
  text-align: center;
  margin-bottom: 30px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    width: 40px;
    height: 2px;
    background-color: $color-primary;

    .section-header--white & {
      background-color: $color-white;
    }
  }
}

.section-header__title {
  font-family: $font-roboto-bold;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 10px;

  .section-header--white & {
    color: $color-white;
  }
}

.section-header__description {
  margin-bottom: 0;
  padding-bottom: 15px;
  color: $c-gray-6;
}

.section-footer {
  margin-top: 30px;
  text-align: center;
}

.mega-search__box {
  position: relative;
  margin-top: -39px;

  @include mq(sm) {
    margin-top: -43px;
  }
}

.mega-search__tab {
  display: flex;
}

.mega-search__tab-item {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  margin-right: 1px;
  font-size: 13px;
  color: $color-white;

  @include mq(sm) {
    padding: 8px 25px;
    font-size: 14px;
  }

  .icon {
    margin-right: 5px;

    @include mq(sm) {
      font-size: 18px;
      margin-right: 8px;
    }
  }

  &.mega-search__tab-item--active {
    background-color: $color-white;
    color: #000;
  }
}

.mega-search__content {
  background-color: #f1f1f1;
  padding: 25px 16px;

  @include mq(m) {
    background-color: $color-white;
    padding: 30px 32px 14px 32px;
  }
}

.mega-search__form {
  @include mq(m) {
    flex-direction: row;
  }
}

.mega-search__main {
  background-color: #f1f1f1;
}

.mega-search__grid {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  span {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;

    @include mq(ml) {
      font-size: 14px;
    }
  }
}

.mega-search__row {
  position: relative;
  display: flex;
  flex-direction: column;
}

.mega-search__input,
.mega-search__select {
  background-color: $color-white;
  height: 36px;
  border: 1px solid $border-color-primary;
  text-indent: 10px;
  border-radius: 0;
  font-size: 12px;

  &:focus {
    outline: none;
  }

  @include mq(ml) {
    font-size: 14px;
  }
}

.mega-search__select {
  -webkit-appearance: none;
}

.mega-search__input {
  padding-right: 36px;
}

.mega-search__icon {
  position: absolute;
  right: 10px;
  top: 5px;

  .icon {
    font-size: 18px;
    color: $c-gray-9;
  }
}

.mega-search__button {
  font-size: 14px;
  padding: 6px 25px;
}

.home-status {
  background-color: #f1f1f1;
  padding: 30px 0 10px;
}

.home-status__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.home-status__item-text {
  color: #000000;
  margin-left: 16px;
  font-weight: bold;
}

.carousel-banner {
  padding: 32px 0;
}

.home-product__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;

  @include mq(sm) {
    margin-top: 10px;
    padding: 0;
    margin-left: -16px;
    margin-right: -16px;
  }

  @include mq(ml) {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.home-product__item {
  margin-bottom: 20px;
  width: 100%;

  @include mq(sm) {
    width: 50%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
  }

  @include mq(ml) {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.333%;
    margin-bottom: 10px;
  }
}

.home-product__item-inner {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-white;
  color: $text-color-primary;

  @include mq(l) {
    padding: 15px 20px;
  }
}

.home-product__item-image {
  @include aspect(80, 180);
  margin-bottom: 20px;
}

.home-product__item-content {
  text-align: center;
}

.home-product__item-title {
  font-family: $font-roboto-bold;
  font-size: 23px;
  color: #d01d1d;

  @include mq(l) {
    font-size: 15px;
  }
}

.home-product__item-stars {
  .icon {
    display: inline-block;
    margin: 2px;
    font-size: 20px;
    color: #ffa200;
  }
}

.home-product__item-price {
  font-family: $font-roboto-medium;
}

.home-video {
  position: relative;
  display: block;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
  }

  &:after {
    @include transition;
    content: "\f215";
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    font-family: Ionicons;
    border-radius: 30px;
    border: 3px solid $color-white;
    z-index: 2;
    font-size: 30px;
    color: $color-white;
    text-align: center;
    line-height: 56px;
  }

  &:hover {
    &:after {
      color: $color-primary;
      border-color: $color-primary;
      transform: scale(1.2);
    }
  }
}

.home-video__image {
  @include aspect(378, 570);
}

.home-event__image {
  @include transition(all, 0.5s, ease-in-out);
  @include aspect(254, 379);
}

.home-event__item {
  display: block;

  @include mq(ml) {
    margin-bottom: 16px;
  }

  &:hover {
    .home-event__content-description {
      opacity: 1;
      visibility: visible;
      max-height: 100px;
      overflow: visible;
      transform: translateY(0px);
    }

    .home-event__image {
      transform: scale(1.2);
    }

    .home-event__content-title {
      transform: translateY(0);
    }
  }

}

.home-event__item-inner {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
  }
}

.home-event__content {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 1;
}

.home-event__content-inner {
  width: 100%;
  text-align: center;
  color: $color-white;
}

.home-event__content-title {
  @include transition(all, 0.5s, ease-in-out);
  position: relative;
  font-size: 18px;
  font-family: $font-roboto-bold;
  transform: translateY(12px);
}

.home-event__content-description {
  position: relative;
  margin-top: 15px;
  padding-top: 15px;
  @include transition(all, 1s, ease-in-out);
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transform: translateY(30px);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 40px);
    width: 80px;
    height: 2px;
    background-color: $color-white;
  }

  span {
    display: block;
  }
}

.home-journey__item {
  &:hover {
    .home-journey__content {
      background-color: $color-primary;
    }

    .home-journey__content-title {
      color: $color-white;
    }

    .home-journey__image {
      img {
        transform: scale(1.15);
      }

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.home-journey__image {
  @include aspect(220, 294);
  overflow: hidden;

  &:after {
    @include transition;
    content: "Xem thêm";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    opacity: 0;
    visibility: hidden;
  }

  img {
    @include transition;
  }
}

.home-journey__content {
  @include transition;
  padding: 20px;
  background-color: #eeeeee;
}

.home-journey__content-title {
  @include transition;
  font-size: 16px;
  font-family: $font-roboto-bold;
  color: $text-color-primary;
}

.home-journey__item {
  display: flex;
  flex-direction: column;
}

.home-discover__item {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  align-items: flex-start;

  @include mq(sm) {
    margin-bottom: 40px;
  }
}

.home-discover__item-image {
  @include aspect(150, 200);
  width: 100%;

  @include mq(sm) {
    width: 35%;
  }
}

.home-discover__item-title {
  display: block;
  font-size: 16px;
  color: $text-color-primary;
  font-family: $font-roboto-bold;
}

.home-discover__item-description {
  margin-top: 10px;
}

.home-discover__readmore {
  .icon {
    display: inline-block;
    line-height: 1em;
    width: 14px;
    height: 14px;
    background-color: $color-primary;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: $color-white;
    line-height: 14px;
    position: relative;
    top: -1px;
  }

  span {
    display: inline-block;
    margin-left: 8px;
  }
}

.home-discover__item-content {
  padding-top: 20px;

  @include mq(sm) {
    padding-top: 0;
    padding-left: 24px;
    flex: 1 1 0;
  }
}

.home-advisory__item-image {
  @include aspect(124, 180);
}

.home-advisory__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.home-advisory__item {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

  @include mq(sm) {
    width: 33.333%;
  }

  @include mq(l) {
    width: calc(100%/6);
  }
}

.home-advisory__item-title {
  display: block;
  padding: 15px 0;
  font-family: $font-roboto-bold;
  color: $text-color-primary;

  &:hover {
    color: $color-primary;
  }
}

.home-howto {
  padding: 30px 0;
}

.home-howto__inner {
  display: flex;
  flex-direction: column;

  @include mq(ml) {
    flex-direction: row;
  }
}

.home-howto__item {
  flex: 1 1 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 40px;

  @include mq(ml) {
    margin-bottom: 0;
  }

  &:last-child {
    .home-howto__item-inner {
      &:before {
        width: 0;
        left: 0;
      }
    }
  }
}

.home-howto__item-inner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  max-width: 500px;
  margin: 0 auto;

  &:before {

    @include mq(ml) {
      content: "";
      position: absolute;
      top: 34px;
      left: 100%;
      width: 60%;
      height: 1px;
      background-color: #0f4699;
      transform: translateX(calc(-50% + 19px));
    }
  }
}

.home-howto__item-title {
  font-size: 21px;
  font-family: $font-roboto-medium;
  max-width: 240px;
  margin: 30px auto 0;
}

.home-howto__item-text {
  margin-top: 25px;
  color: $c-gray-9;
}

.home-howto__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 35px;
  border: 2px solid #0f4699;
  text-align: center;
  line-height: 70px;
  background-color: #fcffff;
}
