@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.carousel-footer {
  padding: 20px 0;

  @include mq(m) {
    padding: 30px 0;
  }
}

.section-block {
  padding: 40px 0;
}

.section-block--red {
  background-color: #cf3737;
}

.section-block--gray {
  background-color: #f8f9fa;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-header__title {
  position: relative;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;

  .section-header--white & {
    color: $color-white;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    width: 40px;
    height: 2px;
    background-color: $color-primary;

    .section-header--white & {
      background-color: $color-white;
    }
  }
}

.section-footer {
  margin-top: 30px;
  text-align: center;
}

.mega-search__box {
  position: relative;
  margin-top: -39px;

  @include mq(sm) {
    margin-top: -43px;
  }
}

.mega-search__tab {
  display: flex;
}

.mega-search__tab-item {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 12px;
  margin-right: 1px;
  font-size: 13px;
  color: $color-white;

  @include mq(sm) {
    padding: 8px 25px;
    font-size: 14px;
  }

  .icon {
    margin-right: 5px;

    @include mq(sm) {
      font-size: 18px;
      margin-right: 8px;
    }
  }

  &.mega-search__tab-item--active {
    background-color: $color-white;
    color: #000;
  }
}

.mega-search__content {
  background-color: $color-white;
  padding: 15px 0px;

  @include mq(m) {
    padding: 30px 32px 14px 32px;
  }
}

.mega-search__form {
  @include mq(m) {
    flex-direction: row;
  }
}

.mega-search__main {
  background-color: $color-white;

  @include mq(m) {
    background-color: #f1f1f1;
  }
}

.mega-search__grid {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  span {
    display: block;
    margin-bottom: 10px;
  }
}

.mega-search__row {
  position: relative;
  display: flex;
  flex-direction: column;
}

.mega-search__input,
.mega-search__select {
  height: 36px;
  border: 1px solid $border-color-primary;
  text-indent: 10px;
  border-radius: 0;
  background-color: transparent;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.mega-search__select {
  -webkit-appearance: none;
}

.mega-search__input {
  padding-right: 36px;
}

.mega-search__icon {
  position: absolute;
  right: 10px;
  top: 5px;

  .icon {
    font-size: 18px;
    color: $c-gray-9;
  }
}

.home-status {
  background-color: #f1f1f1;
  padding: 30px 0;
}

.home-status__item {
  display: flex;
  align-items: center;
}

.home-status__item-text {
  color: #000000;
  margin-left: 16px;
  font-weight: bold;
}

.carousel-banner {
  padding: 32px 0;
}
