@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.hero-info__inner {
  display: flex;
  flex-direction: column;

  @include mq(sm) {
    flex-direction: row;
  }

  .row {
    width: 100%;
  }
}

.hero-info__detail {
  @include mq(ml) {
    width: 57%;
    max-width: 666px;
    font-size: 16px;
    line-height: 18px;
    color: $c-black-2;
    text-align: justify;
  }
}

.hero-info__gallery {
  @include mq(sm) {
    padding-left: 35px;
  }

  .hero-info__image {
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}

.info-policy__image {
  width: 55px;
  height: 55px;
}

.section-block--info-policy {
  padding: 5px 0 0;

  .join-us__item  {
    background: none;
    padding: 30px 30px 18px;
  }

  .join-us__item-title {
    margin-top: 20px;
  }

  .join-us__item-text {
    margin-top: 11px;
  }

  .section-tit {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }

  &.section-header:before {
    bottom: 15px;
  }
}

.section-header--feedback {
  &.section-header {
    position: relative;
    margin: 0;

    &:before {
      bottom: 50px;
    }
  }

  & .section-header__title {
    transform: translateY(-60px);
  }
}

.quote__image {
  height: 131px;
}

.customer-feedback {
  padding: 0 0 62px;

  @include mq(l) {
    overflow: visible;
  }

  .home-howto__item-icon {
    position: absolute;
    top: -44px;
    left: 33px;
    width: 92px;
    height: 92px;
    box-shadow: 0px 25px 18px 0 rgba(207, 216, 220, 0.23);
    border: solid 1px #eeeeee;
    border-radius: 9999px;
    overflow: hidden;
  }

  .home-howto__item-inner {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    min-height: 100%;
    margin-top: 50px;
    padding: 78px 40px 33px;
    border: 1px solid #eeeeee;
    box-shadow: 0px 10px 18px 0 rgba(193, 193, 193, 0.15);
    text-align: left;

    &:before {
      content: none;
    }
  }

  .home-howto__item-description {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
  }

  .home-howto__item-text {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 15px;

    .author {
      font-size: 18px;
      line-height: 24px;
      color: #db262d;
    }

    .description {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      color: #263238;
    }
  }

  .info-policy__image {
    width: 92px;
    height: 92px;
  }

  .image-lazy__img {
    object-fit: none;
    top: 18px;
    left: -1px;
  }
}

.section-block--info-review {
  .section-box__inner {
    background: $color-white;
  }
}

.section-block--feedback {
  padding: 31px 0 0;
}

.carousel--feedback {
  width: 100%;

  .carousel__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100%;
    padding: 0 20px;
  }

  .flickity-prev-next-button {
    top: 165px;
    border: solid 3px rgba(204, 204, 204, 0.2);

    @include mq(l) {
      width: 65px;
      height: 65px;

      &.previous {
        left: -65px;
      }

      &.next {
        right: -65px;
      }
    }
  }
}

.page-title--info {
  &.page-title {
    padding: 45px 0 26px;
  }

  .page-title__text {
    font-size: 24px;
    font-weight: bold;
    color: #f5000e;

    &:before {
      content: none;
    }
  }
}

.hero-info {
  padding: 0 0 42px;
}
