@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.partner-howto {
  padding: 30px 0 0;

  .home-howto__inner {
    display: block;
    margin: 0 auto;
  }

  .home-howto__item-inner {
    align-items: stretch;
    height: 100%;
    padding: 0;

    &:before {
      background-color: #bb3a27;
    }
  }

  .home-howto__item {
    flex: 1 0 auto;
  }

  .home-howto__item-icon {
    border-color: #bb3a27;
  }

  .home-howto__item-title {
    font-family: $font-roboto-medium;
    font-size: 18px;
    color: #333;
  }

  .home-howto__item-text {
    font-size: 14px;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
  }
}

.partner-howto__item {
  margin-top: 30px;

  @include mq(ml) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  &:last-child {
    .home-howto__item-inner:before {
      width: 0;
      left: 0;
    }
  }
}

.section-block--book {
  margin: 0;
  padding: 40px 0 0;

  @include mq(sm) {
    padding: 40px 0 0;
  }
}

.register-partner {
  padding-bottom: 76px;
}

.register-partner__form {
  .row {
    @include mq(sm) {
      margin: 0 -30px;
    }
  }

  input {
    width: 100%;
    padding: 6px 16px 8px;
    border: 1px solid #ccc;
  }

  select {
    width: 100%;
    padding: 7px 16px 5px;
    border: 1px solid #ccc;
  }
}

.register-partner__col {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include mq(ml) {
    max-width: 355px;
    margin-top: 0;
    padding: 0 30px;
  }

  & .form-group,
  & select {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  & .form-group {
    position: relative;
    margin-bottom: 0;

    & .error {
      position: absolute;
      top: 50%;
      right: -8px;
      margin: 0;
      transform: translateY(-50%);

      @include mq(sm) {
        right: -15px;
      }
    }
  }
}

.register-partner__link {
  @include mq(ml) {
    order: 1;
  }
}

.register-partner__submit {
  font-size: 14px;
  line-height: 35px;
  width: 100%;
  padding: 2px 30px;
  color: #fff;
  background: #dd4a4a;
  border-radius: 0;
  border: none;
  order: 3;

  @include mq(sm) {
    margin: 37px 0 0 0;
  }
}

.register-partner__image {
  &:before {
    content: '';
    display: block;
    padding-top: 64%;

    @include mq(m) {
      padding-top: 80%;
    }

    @include mq(ml) {
      padding-top: 100%;
    }
  }
}

.register-partner__banner {
  margin-top: 50px;

  @include mq(m) {
    margin-top: -50px;
  }

  @include mq(ml) {
    margin-top: -100px;
  }

  & a {
    height: 100%;
  }
}

.page-title {
  &.page-title--partner {
    padding: 30px 0 10px;

    @include mq(sm) {
      padding: 47px 0 46px;
    }
  }
}

.join-us__image {
  @include aspect(391/454);
}

.join-us__image-1 {
  width: 56px;
  height: 54px;
}

.join-us__image-2 {
  width: 48px;
  height: 50px;
}

.join-us__image-3 {
  width: 53px;
  height: 53px;
}

.join-us__image-4 {
  width: 55px;
  height: 55px;
}

.join-us__col {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  @include mq(sm) {
    margin-top: 20px;

    &:first-child {
      margin-top: 20px;
    }
  }

  @include mq(l) {
    padding: 0 24px;
  }
}

.join-us__item {
  height: 100%;
  padding: 30px 30px 26px;
  background: #fff;
}

.join-us__item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 27px;
  color: #000000;
  text-transform: uppercase;
}

.join-us__item-text {
  font-size: 14px;
  margin-top: 14px;
  color: #666666;
  line-height: 16px;
}

.section-header--join-us {
  margin: 11px 0 50px;
}

.section-block--join-us {
  padding: 48px 0 55px;

  .join-us__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
