.event-card
  .event-card__inner
    .event-card__image
      +image-lazy('img/products/img-event-info-2.jpg', 'event-card__image-img', 'cover')
    .event-card__content
      a(href="#", title="#").event-card__title Lễ hội đền Gióng
      span.event-card__date 05/11/2019
      .event-card__description Nguyên Khê, Đông Anh, Hanoi
