.carousel.carousel--type.js-carousel-logo
  .carousel__item
    a(herf="#" title).carousel__link
      +image-lazy('img/products/img-event-1.jpg', 'carousel__image', 'contain')
  .carousel__item
    a(herf="#" title).carousel__link
      +image-lazy('img/products/img-event-2.jpg', 'carousel__image', 'contain')
  .carousel__item
    a(herf="#" title).carousel__link
      +image-lazy('img/products/img-event-3.jpg', 'carousel__image', 'contain')
  .carousel__item
    a(herf="#" title).carousel__link
      +image-lazy('img/products/img-event-4.jpg', 'carousel__image', 'contain')
  .carousel__item
    a(herf="#" title).carousel__link
      +image-lazy('img/products/img-event-1.jpg', 'carousel__image', 'contain')
