.carousel.carousel--type.js-carousel-logo
      .carousel__item
        a(herf="#" title).carousel__link
          +image-lazy('img/products/product-detail.jpg', 'carousel__image', 'contain')
        a(herf="#" title).carousel__title Honda civic
      .carousel__item
        a(herf="#" title).carousel__link
          +image-lazy('img/products/product-detail.jpg', 'carousel__image', 'contain')
        a(herf="#" title).carousel__title Toyota Camry
      .carousel__item
        a(herf="#" title).carousel__link
          +image-lazy('img/products/product-detail.jpg', 'carousel__image', 'contain')
        a(herf="#" title).carousel__title Honda Accord
      .carousel__item
        a(herf="#" title).carousel__link
          +image-lazy('img/products/product-detail.jpg', 'carousel__image', 'contain')
        a(herf="#" title).carousel__title BMW 5-series
      .carousel__item
        a(herf="#" title).carousel__link
          +image-lazy('img/products/product-detail.jpg', 'carousel__image', 'contain')
        a(herf="#" title).carousel__title Honda civic
