.carousel-product
  .carousel.carousel--product.js-carousel-product
    .carousel__item
      +image-lazy('img/products/banner-product-1.jpg', 'carousel__image', 'cover')
    .carousel__item
      +image-lazy('img/products/banner-product-2.jpg', 'carousel__image', 'cover')
    .carousel__item
      +image-lazy('img/products/banner-product-3.jpg', 'carousel__image', 'cover')
    .carousel__item
      +image-lazy('img/products/banner-product-1.jpg', 'carousel__image', 'cover')
    .carousel__item
      +image-lazy('img/products/banner-product-2.jpg', 'carousel__image', 'cover')
