.product-card
  .product-card__inner
    .product-card__view
      +image-lazy('img/products/product-detail.jpg', 'product-card__img', 'contain')
    .product-card__content
      .product-card__title
         a(href="#", title="").product-card__link Dịch vụ xe 4 chỗ hạng phổ thông
         .product-card__price 2.000.000 đ
      .product-card__description
        p Dòng xe Dcar Limousine được cải tiến từ dòng xe Ford Transit 16 chỗ, với số lượng ghế chỉ còn 9 chỗ được thiết kế hoàn toàn mới có độ ngả vừa đủ, cho không gian sử dụng cực kỳ rộng rãi, đảm bảo đem đến cho khách hàng  một trải nghiệm đẳng cấp và sang trọng.
      a(href="#", title="").bt.bt--primary.product-card__button Đặt xe
