.product-detail
  .container
    .product-detail__inner
      .product-detail__main
        .section-box
          .section-box__inner
            .section-box__title
              h3.section-box__text Thông tin chi tiết
            .section-box__content
              .product-detail__description
                p Xe du lịch UNIVERSE là loại xe hiện đang được sử dụng nhiều nhất trong những chuyến du lịch đường dài hiện nay , những công nghệ cao nhất được sử dụng để phục vụ khiến khách hàng có cảm giác thoải mái nhất!
                p -với những thông số kỹ thuật trên xe sẽ giúp bạn có những chuyến đi an toàn và tiết kiêm nguyên liệu
                p -Số chỗ 45 Loại động cơ Diesel: D6AB-D, TCI (có tăng áp và làm mát khí nạp)Dung tích bình xăng (lít)310 Nhiên liệu DieselTính năng
                p Chống bó cứng phanh ABS
                p -Hệ thống phanh trợ lực ASR
                p -Hệ thống hơi
                p -Công suất: 290PS, tiêu chuẩn khí thải Euro II.
                p -Thể tích hầm hàng: 2.200* 860* 675 (mm)Tiện nghi • Ghế da cao cấp 2 màu
                p -tiện nghi trong xe cũng vậy rất đầy đủ và tiên nghi. thuê xe có lái giá rẻ nhưng chất lượng tuyệt đối an toàn cho mỏi nẻo đường bạn đi tới
                p •Màn hình LCD + DVD
                p •Cửa sổ bên tài điều chỉnh điện
                p •Ghế tài loại ghế hơi
                p •Kính chiếu hậu điều chỉnh điện
                p •Cần số ngắn
                p •Vách ngăn giữa khoang tài xế và khoang hành khách
                p •Đồng hồ Digital
                p •Đèn trần loại dài, đèn trang trí giá hành lý
                p •Rèm cửa (Option)
                p Số chỗ 45 Loại động cơ Diesel: D6AB-D, TCI (có tăng áp và làm mát khí nạp)Dung tích bình xăng (lít)310 Nhiên liệu DieselTính năng Chống bó cứng phanh ABS Số chỗ 45 Loại động cơ Diesel: D6AB-D, TCI (có tăng áp và làm mát khí nạp)Dung tích bình xăng
        .section-box
          .section-box__inner
            .section-box__title
              h3.section-box__text Các loại dịch vụ xe 4 chỗ
            .section-box__content
        .section-box
          .section-box__inner
            .section-box__title
              h3.section-box__text Các dòng xe
            .section-box__content
        .section-box
          .section-box__inner
            .section-box__title
              h3.section-box__text Đánh giá - Bình luận
            .section-box__content
              .product-detail__comment
                +image-lazy('img/background/facebook.jpg', 'img-responsive')
      .product-detail__sidebar
        .section-box
          .section-box__inner
            .section-box__title
              h3.section-box__text Thông tin booking
            .section-box__content
        .section-box
          .section-box__inner
            .section-box__title
              h3.section-box__text Bản đồ
            .section-box__content
