extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='About us'

block content
  include ./_about/_carousel-banner
  include ./_about/_timeline
  include ./_about/_about-howbook
