extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Contact us'

block content
  include ./_product/_carousel_product
  include ./_contact-us/_maps
  include ./_contact-us/_result
