extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Index'

block content
  include ./_home/_carousel-main
  include ./_home/_home-status
  include ./_home/_carousel-banner
  include ./_home/_home-product
  include ./_home/_home-event
  include ./_home/_home-journeys
  include ./_home/_home-howbook
  include ./_home/_home-advisory
  include ./_home/_home-discover
  include ./_home/_carousel-partner
  include ../_components/_carousel_footer
