extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Index'

block content
  include ./_home/_carousel-main
  include ./_home/_carousel-partner
  include ../_components/_carousel_footer
