extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Giới Thiệu'

block content
  include ./_product/_carousel_product
  include ./_info/_info
  include ./_info/_policy
  include ./_info/_feedback
  include ./_info/_review
