extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Merchant Partner'

block content
  include ./_product/_carousel_product
  include ./_partner/_register-partner
  include ./_partner/_partner-join-us
  include ./_partner/_partner-howbook
  include ./_about/_about-faq
