extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Product detail'

block content
  include ./_product/_carousel_product
  include ./_product_detail/_product_info
  include ./_product_detail/_product_detail
  include ../_components/_carousel_footer
