extends ../templates/_layouts/_layouts
include ../templates/_mixins/_image.pug

block variables
  - var title = "Index";

block content
  include ../modules/test-module/test-module
  //- +image('../img/products/img-news-1.jpg', 'image__cover', 'image__product-inner')
