.section-block.section-block--gray.section-block--join-us
  .container
    .section-header.section-header--type2.section-header--join-us
      h2.section-header__title Lợi ích khi tham gia cùng VioTrans
    .section-content
      .row
        .col-md-6.col-lg-3.join-us__col
          .join-us__item
            .join-us__item-inner
              .join-us__item-icon
                +image-lazy('img/partner/img1.png', 'join-us__image join-us__image-1', 'contain')
              .join-us__item-title Đặt xe nhanh
              .join-us__item-text Chỉ mất từ 3 đến 5 phút để bạn lựa chọn hành trình và các loại xe từ 4 đến 45 chỗ
        .col-md-6.col-lg-3.join-us__col
          .join-us__item
            .join-us__item-inner
              .join-us__item-icon
                +image-lazy('img/partner/img2.png', 'join-us__image join-us__image-2', 'contain')
              .join-us__item-title Chiết khấu hoa hồng
              .join-us__item-text Bạn sẽ nhận được chiết khấu hoa hồng cho mỗi chuyến đi.
        .col-md-6.col-lg-3.join-us__col
          .join-us__item
            .join-us__item-inner
              .join-us__item-icon
                +image-lazy('img/partner/img3.png', 'join-us__image join-us__image-3', 'contain')
              .join-us__item-title Quản lý minh bạch
              .join-us__item-text Bạn theo dõi chi tiết thông tin lịch sử đặt chuyến
        .col-md-6.col-lg-3.join-us__col
          .join-us__item
            .join-us__item-inner
              .join-us__item-icon
                +image-lazy('img/partner/img4.png', 'join-us__image join-us__image-4', 'contain')
              .join-us__item-title Tối ưu chi phí
              .join-us__item-text Tiết kiệm chi phí đặt chuyến, chi phí quản lý tài chính.
