.section-block.section-block--book
  .container
    .section-header.section-header--type2.section-header--book
      h2.section-header__title Dễ dàng hợp tác và nhận hoa hồng
    .section-content.home-howto.partner-howto
      .home-howto__inner
        .row
          .col-md-6.partner-howto__item
            .home-howto__item-inner
              .home-howto__item-icon
              .home-howto__item-title 1. Đăng ký
              .home-howto__item-text Các email xác nhận đơn hàng sẽ được gửi đến khách hàng ngay sau hoàn tất việc đặt xe. Thông tin chuyến xe và tài xế sẽ được gửi bằng tin nhắn SMS đến khách hàng/ hành khách trước chuyến đi ít nhất một ngày.
          .col-md-6.partner-howto__item
            .home-howto__item-inner
              .home-howto__item-icon
              .home-howto__item-title 2. Kích hoạt tài khoản
              .home-howto__item-text Tài xế sẽ đón khách tại địa điểm và thời gian đã định và chở khách đi theo hành trình và lịch trình đã được lập trong đơn hàng. Nếu có các yêu cầu phát sinh, khách vẫn có thể trao đổi với tài xế để điều chỉnh hành trình và lịch trình.
          .col-md-6.partner-howto__item
            .home-howto__item-inner
              .home-howto__item-icon
              .home-howto__item-title 3. Đặt chuyến
              .home-howto__item-text Khách hàng thanh toán trực tiếp phần phí thuê xe còn lại với tài xế, chủ xe, hay với Viotrans. Nếu các yêu cầu phát sinh làm tăng thời gian và quãng đường sử dụng xe thì phí phát sinh sẽ được tính thêm theo biểu phí của Viotrans.
          .col-md-6.partner-howto__item
            .home-howto__item-inner
              .home-howto__item-icon
              .home-howto__item-title 4. Kết thúc, nhận hoa hồng
              .home-howto__item-text Khách hàng thanh toán trực tiếp phần phí thuê xe còn lại với tài xế, chủ xe, hay với Viotrans. Nếu các yêu cầu phát sinh làm tăng thời gian và quãng đường sử dụng xe thì phí phát sinh sẽ được tính thêm theo biểu phí của Viotrans.
