.container
  .accordion.section--faq
    .section-header.section-header--type2.section-header--faq
      h2.section-header__title Câu hỏi thường gặp
    .accordion__item
      h3.accordion__title.js-title Tôi sẽ nhận được chiết khấu bằng cách nào?
      .accordion__content.js-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat
    .accordion__item
      h3.accordion__title.js-title Làm thế nào để tôi book chuyến trên VioTrans
      .accordion__content.js-content
        p
            | "Với mỗi chuyến sau khi Đối Tác Sale tạo và đẩy chuyến thành công sẽ được nhận chiết khấu như sau: khi xác định thông tin khách hàng, hệ thống sẽ đưa ra 1 mức giá sàn tương ứng với tuyến đường đó. Đối tác chỉ cần căn cứ vào mức giá sàn đó và đẩy giá lên, nếu có đối tác tài xế nhận thì sẽ được tính chiết khấu chính là phần chênh lệch cho giá chuyến đi đó. Chiết khấu chỉ được tính khi chuyến đi đó được thực hiện thành công từ đối tác tài xế nhận. <br/>
            | <br/>
            | Điều kiện để được nhận chiết khấu là phải có đối tác nhận với giá ban đầu đưa ra. Với mỗi lần đẩy chuyến, giá nhận hiển thị của đối tác nhận sẽ trừ theo mức doanh thu: <br/>
            | <br/>
            | Với giá giao <500.000 đ chiết khấu 30.000 đ giá nhận <br/>
            | 500.000 đ < giá giao < 1.000.000 đ chiết khấu 80.000 đ giá nhận<br/>
            | 1.000.000 đ < giá giao < 2.000.000 đ chiết khấu 150.000 đ giá nhận<br/>
            | 2.000.000 đ < giá giao < 3.000.000 đ chiết khấu 250.000 đ giá nhận<br/>
            | 3.000.000 đ< giá giao < 4.000.000 đ chiết khấu 300.000 đ giá nhận<br/>
    .accordion__item
      h3.accordion__title.js-title Tôi sẽ nhận được chiết khấu bằng cách nào?
      .accordion__content.js-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat
    .accordion__item
      h3.accordion__title.js-title Làm thế nào để tôi book chuyến trên VioTrans
      .accordion__content.js-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat
    .accordion__item
      h3.accordion__title.js-title Tôi sẽ nhận được chiết khấu bằng cách nào?
      .accordion__content.js-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat
