.carousel-about
  .carousel.carousel--about.js-carousel-logo
    .carousel__item
      a(herf="#" title)
        +image-lazy('img/about/slide1.png', 'carousel__image', 'contain')
    .carousel__item
      a(herf="#" title)
        +image-lazy('img/about/slide2.png', 'carousel__image', 'contain')
    .carousel__item
      a(herf="#" title)
        +image-lazy('img/about/slide3.png', 'carousel__image', 'contain')
    .carousel__item
      a(herf="#" title)
        +image-lazy('img/about/slide1.png', 'carousel__image', 'contain')
    .carousel__item
      a(herf="#" title)
        +image-lazy('img/about/slide2.png', 'carousel__image', 'contain')
    .carousel__item
      a(herf="#" title)
        +image-lazy('img/about/slide3.png', 'carousel__image', 'contain')
