.section-timeline
  .container
    .section-header.section-header--left
      h2.section-header__title Hướng dẫn đặt xe
    .section-content.about-timeline
      .about-timeline__wrapper
        .about-timeline__item
          h3.about-timeline__title Tìm xe
          p.about-timeline__description Việc tìm xe để thuê nay dễ dàng, Bạn chỉ cần điền nơi đi, nơi đến, ngày đi, ngày về vào các trường thông tin và bấm nút tìm kiếm. Sau 1 giây, hệ thống sẽ giới thiệu các loại xe từ 4 đến 45 chỗ có thê đáp ứng được hành trình của bạn với giá thuê xe gắn kèm trên từng loại xe.
          .about-timeline__images
            +image-lazy('img/about/find-car-1.png', 'about-timeline__image', 'cover')
            +image-lazy('img/about/find-car-2.png', 'about-timeline__image', 'cover')
            +image-lazy('img/about/find-car-3.png', 'about-timeline__image', 'cover')
        .about-timeline__item
          h3.about-timeline__title Chọn xe
          p.about-timeline__description Hệ thống sẽ giúp bạn nhanh chóng chọn ra những chiếc xe phù hợp với các yêu cầu phức tạp hơn về loại xe, dòng xe, đời xe, màu xe, tiện nghi trên xe, v.v. Trong trang giới thiệu của mỗi xe, bạn còn có thể xem hình ảnh thực tế của chính chiếc xe này và phần liệt kê chi tiết các loại phí được tính trong giá thuê xe như phí lưu xe qua đêm, phí cầu đường, khoản đặt cọc.
          .about-timeline__images
            +image-lazy('img/about/find-car-4.png', 'about-timeline__image about-timeline__image--small', 'cover')
            +image-lazy('img/about/find-car-5.png', 'about-timeline__image about-timeline__image--large', 'contain')
        .about-timeline__item
          h3.about-timeline__title Nhập thông tin yêu cầu
          p.about-timeline__description Thủ tục đặt xe nhanh gọn chỉ yêu cầu điền thông tin liên lạc của một hành khách có mặt trong chuyến đi.
          .about-timeline__images
            +image-lazy('img/about/find-car-6.png', 'about-timeline__image', 'cover')
            +image-lazy('img/about/find-car-7.png', 'about-timeline__image', 'cover')
            +image-lazy('img/about/find-car-8.png', 'about-timeline__image', 'cover')
        .about-timeline__item
          h3.about-timeline__title Hoàn tất
          p.about-timeline__description Hệ thống sẽ thông báo hoàn thành việc đặt xe.
          .about-timeline__images
            +image-lazy('img/about/find-car-9.png', 'about-timeline__image', 'cover')
            +image-lazy('img/about/find-car-10.png', 'about-timeline__image', 'cover')
            +image-lazy('img/about/find-car-11.png', 'about-timeline__image', 'cover')
