.section-block
  .container
    .section-header
      h2.section-header__title Tư vấn dịch vụ
    .section-content.home-advisory
      .home-advisory__inner
        .home-advisory__item
          .home-advisory__item-inner
            +image-lazy('img/products/home-event-1.jpg', 'home-advisory__item-image', 'contain')
            a(href="#").home-advisory__item-title Xe du lịch
        .home-advisory__item
          .home-advisory__item-inner
            +image-lazy('img/products/home-event-2.jpg', 'home-advisory__item-image', 'contain')
            a(href="#").home-advisory__item-title Xe cưới hỏi
        .home-advisory__item
          .home-advisory__item-inner
            +image-lazy('img/products/home-event-3.jpg', 'home-advisory__item-image', 'contain')
            a(href="#").home-advisory__item-title Xe sân bay
        .home-advisory__item
          .home-advisory__item-inner
            +image-lazy('img/products/home-event-4.jpg', 'home-advisory__item-image', 'contain')
            a(href="#").home-advisory__item-title Xe đưa đón học sinh
        .home-advisory__item
          .home-advisory__item-inner
            +image-lazy('img/products/home-event-5.jpg', 'home-advisory__item-image', 'contain')
            a(href="#").home-advisory__item-title Xe hội nghị/hội thảo
        .home-advisory__item
          .home-advisory__item-inner
            +image-lazy('img/products/home-event-1.jpg', 'home-advisory__item-image', 'contain')
            a(href="#").home-advisory__item-title Xe hạng sang

    .section-footer
      a(href="#", title="").bt.bt--default.section-footer__button Xem thêm
