.section-block.section-block--gray
  .container
    .section-header
      h2.section-header__title Khám phá
    .section-content.home-discover
      .home-discover__inner
        .row
          .col-lg-6
            .home-discover__item
              +image-lazy('img/products/home-dis-1.jpg', 'home-discover__item-image', 'contain')
              .home-discover__item-content
                h4
                  a(href="#").home-discover__item-title Du Lịch Việt phát miễn phí 10.000 khẩu trang tiêu chuẩn y tế cho cộng đồng
                .home-discover__item-description
                  p 08 điểm du lịch tâm linh được Du Lịch Việt chia sẻ dưới đây là nơi được nhiều khách du lịch trong và ngoài nước tham quan nhiều nhất, đặc biệt, những
                a.home-discover__readmore
                  i.icon.ion-plus
                  span Đọc tiếp
          .col-lg-6
            .home-discover__item
              +image-lazy('img/products/home-dis-2.jpg', 'home-discover__item-image', 'contain')
              .home-discover__item-content
                h4
                  a(href="#").home-discover__item-title Du Lịch Việt phát miễn phí 10.000 khẩu trang tiêu chuẩn y tế cho cộng đồng
                .home-discover__item-description
                  p 08 điểm du lịch tâm linh được Du Lịch Việt chia sẻ dưới đây là nơi được nhiều khách du lịch trong và ngoài nước tham quan nhiều nhất, đặc biệt, những
                a.home-discover__readmore
                  i.icon.ion-plus
                  span Đọc tiếp
          .col-lg-6
            .home-discover__item
              +image-lazy('img/products/home-dis-3.jpg', 'home-discover__item-image', 'contain')
              .home-discover__item-content
                h4
                  a(href="#").home-discover__item-title Du Lịch Việt phát miễn phí 10.000 khẩu trang tiêu chuẩn y tế cho cộng đồng
                .home-discover__item-description
                  p 08 điểm du lịch tâm linh được Du Lịch Việt chia sẻ dưới đây là nơi được nhiều khách du lịch trong và ngoài nước tham quan nhiều nhất, đặc biệt, những
                a.home-discover__readmore
                  i.icon.ion-plus
                  span Đọc tiếp
          .col-lg-6
            .home-discover__item
              +image-lazy('img/products/home-dis-4.jpg', 'home-discover__item-image', 'contain')
              .home-discover__item-content
                h4
                  a(href="#").home-discover__item-title Du Lịch Việt phát miễn phí 10.000 khẩu trang tiêu chuẩn y tế cho cộng đồng
                .home-discover__item-description
                  p 08 điểm du lịch tâm linh được Du Lịch Việt chia sẻ dưới đây là nơi được nhiều khách du lịch trong và ngoài nước tham quan nhiều nhất, đặc biệt, những
                a.home-discover__readmore
                  i.icon.ion-plus
                  span Đọc tiếp
    .section-footer
      a(href="#", title="").bt.bt--default.section-footer__button Xem thêm
