.section-block.section-block--gray
  .container
    .section-header
      h2.section-header__title Hành trình mẫu
    .section-content.home-journey
      .carousel.carousel--journey.home-journey__inner.js-carousel-journey
        a(href="#", title="").home-journey__item.carousel__item
          .home-journey__item-inner
            +image-lazy('img/products/home-journey-1.jpg', 'home-journey__image', 'cover')
            .home-journey__content
              h4.home-journey__content-title Lễ hội chùa Keo – Thái Bình
        a(href="#", title="").home-journey__item.carousel__item
          .home-journey__item-inner
            +image-lazy('img/products/home-journey-2.jpg', 'home-journey__image', 'cover')
            .home-journey__content
              h4.home-journey__content-title Lễ hội chùa Bái Đính – Ninh Bình
        a(href="#", title="").home-journey__item.carousel__item
          .home-journey__item-inner
            +image-lazy('img/products/home-journey-3.jpg', 'home-journey__image', 'cover')
            .home-journey__content
              h4.home-journey__content-title Hội Lim Bắc Ninh
        a(href="#", title="").home-journey__item.carousel__item
          .home-journey__item-inner
            +image-lazy('img/products/home-journey-1.jpg', 'home-journey__image', 'cover')
            .home-journey__content
              h4.home-journey__content-title Lễ hội Núi Bà Đen - Tây Ninh
    .section-footer
      a(href="#", title="").bt.bt--default.section-footer__button Xem thêm
