.section-block
  .container
    .section-header
      h2.section-header__title Sự kiện nổi bật
    .section-content.home-event
      .carousel.carousel--event.home-event__inner.js-carousel-event
        a(href="#", title="").home-event__item.carousel__item
          .home-event__item-inner
            +image-lazy('img/products/home-event-1.jpg', 'home-event__image', 'cover')
            .home-event__content
              .home-event__content-inner
                h4.home-event__content-title Lễ hội chùa Keo – Thái Bình
                .home-event__content-description
                  span 31/01 - 05/03/2020
                  span xã Duy Nhất, tỉnh Thái Bình
        a(href="#", title="").home-event__item.carousel__item
          .home-event__item-inner
            +image-lazy('img/products/home-event-2.jpg', 'home-event__image', 'cover')
            .home-event__content
              .home-event__content-inner
                h4.home-event__content-title Lễ hội chùa Bái Đính – Ninh Bình
                .home-event__content-description
                  span 31/01 - 05/03/2020
                  span xã Duy Nhất, tỉnh Thái Bình
        a(href="#", title="").home-event__item.carousel__item
          .home-event__item-inner
            +image-lazy('img/products/home-event-3.jpg', 'home-event__image', 'cover')
            .home-event__content
              .home-event__content-inner
                h4.home-event__content-title Hội Lim Bắc Ninh
                .home-event__content-description
                  span 31/01 - 05/03/2020
                  span xã Duy Nhất, tỉnh Thái Bình
        a(href="#", title="").home-event__item.carousel__item
          .home-event__item-inner
            +image-lazy('img/products/home-event-4.jpg', 'home-event__image', 'cover')
            .home-event__content
              .home-event__content-inner
                h4.home-event__content-title Lễ hội Núi Bà Đen - Tây Ninh
                .home-event__content-description
                  span 31/01 - 05/03/2020
                  span xã Duy Nhất, tỉnh Thái Bình
        a(href="#", title="").home-event__item.carousel__item
          .home-event__item-inner
            +image-lazy('img/products/home-event-5.jpg', 'home-event__image', 'cover')
            .home-event__content
              .home-event__content-inner
                h4.home-event__content-title Hội gò Đống Đa – Hà Nội
                .home-event__content-description
                  span 31/01 - 05/03/2020
                  span xã Duy Nhất, tỉnh Thái Bình
        a(href="#", title="").home-event__item.carousel__item
          .home-event__item-inner
            +image-lazy('img/products/home-event-1.jpg', 'home-event__image', 'cover')
            .home-event__content
              .home-event__content-inner
                h4.home-event__content-title Lễ hội Căm Mường - Lai Châu
                .home-event__content-description
                  span 31/01 - 05/03/2020
                  span xã Duy Nhất, tỉnh Thái Bình
    .section-footer
      a(href="#", title="").bt.bt--default.section-footer__button Xem thêm
