.section-block.section-block--gray
  .container
    .section-header
      h2.section-header__title Làm sao để đặt được xe
      p.section-header__description Dễ dàng đặt xe chỉ trong 3 bước
    .section-content.home-howto
      .home-howto__inner
        .home-howto__item
          .home-howto__item-inner
            .home-howto__item-icon
              +image-lazy('img/icon/icon-home-1.jpg')
            .home-howto__item-title 1. Cho chúng tôi biết hành trình của bạn
            .home-howto__item-text Điền thông tin của bạn vào mục tìm kiếm mà bạn đang xem vào hoặc điền vào một biểu mẫu riêng cho bạn yêu cầu đặc biệt và gửi đến Vio Trans
        .home-howto__item
          .home-howto__item-inner
            .home-howto__item-icon
              +image-lazy('img/icon/icon-home-2.jpg')
            .home-howto__item-title 2. Chúng tôi sẽ gọi cho bạn trong vòng 24h
            .home-howto__item-text Bạn sẽ nhận được một cuộc gọi xác nhận từ công ty Vio Trán trong vòng 24 giờ.
        .home-howto__item
          .home-howto__item-inner
            .home-howto__item-icon
              +image-lazy('img/icon/icon-home-3.jpg')
            .home-howto__item-title 3. Hoàn tất và chờ ngày chúng tôi đến đón bạn
            .home-howto__item-text Vio Trans đơn giản hóa mọi gánh nặng cho khách hàng. Bạn chỉ việc ngồi nhà và chờ ngày hành trình bắt đầu
