.section-block.section-block--gray
  .container
    .section-header
      h2.section-header__title Sản phẩm - Dịch vụ
    .section-content.home-product
      .home-product__inner
        .row
          .col-lg-6.d-none.d-xl-block
            a(href="#").home-video
              +image-lazy('img/products/img-video-home.jpg', 'home-video__image', 'cover')
          .col-lg-12.col-xl-6
            .home-product__list
              a.home-product__item(href="#")
                .home-product__item-inner
                  +image-lazy('img/products/home-product-1.png', 'home-product__item-image', 'contain')
                  .home-product__item-content
                      h2.home-product__item-title Xe 4 chỗ ngồi
                      .home-product__item-stars
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                      .home-product__item-price Giá: 1.500.00/Ngày
              a.home-product__item(href="#")
                .home-product__item-inner
                  +image-lazy('img/products/home-product-1.png', 'home-product__item-image', 'contain')
                  .home-product__item-content
                      h2.home-product__item-title Xe 4 chỗ ngồi
                      .home-product__item-stars
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                      .home-product__item-price Giá: 1.500.00/Ngày
              a.home-product__item(href="#")
                .home-product__item-inner
                  +image-lazy('img/products/home-product-1.png', 'home-product__item-image', 'contain')
                  .home-product__item-content
                      h2.home-product__item-title Xe 4 chỗ ngồi
                      .home-product__item-stars
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                      .home-product__item-price Giá: 1.500.00/Ngày
              a.home-product__item(href="#")
                .home-product__item-inner
                  +image-lazy('img/products/home-product-1.png', 'home-product__item-image', 'contain')
                  .home-product__item-content
                      h2.home-product__item-title Xe 4 chỗ ngồi
                      .home-product__item-stars
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                      .home-product__item-price Giá: 1.500.00/Ngày
              a.home-product__item(href="#")
                .home-product__item-inner
                  +image-lazy('img/products/home-product-1.png', 'home-product__item-image', 'contain')
                  .home-product__item-content
                      h2.home-product__item-title Xe 4 chỗ ngồi
                      .home-product__item-stars
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                      .home-product__item-price Giá: 1.500.00/Ngày
              a.home-product__item(href="#")
                .home-product__item-inner
                  +image-lazy('img/products/home-product-1.png', 'home-product__item-image', 'contain')
                  .home-product__item-content
                      h2.home-product__item-title Xe 4 chỗ ngồi
                      .home-product__item-stars
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                        i.icon.ion-ios-star
                      .home-product__item-price Giá: 1.500.00/Ngày
    .section-footer
      .section-footer__description
        p Việc tìm xe để thuê nay dễ dàng, Bạn chỉ cần điền nơi đi, nơi đến, ngày đi, ngày về vào các trường thông tin và bấm nút tìm kiếm. Sau 1 giây, hệ thống sẽ giới thiệu các loại xe từ 4 đến 45 chỗ có thể đáp ứng được hành trình của bạn với giá thuê xe gắn kèm trên từng loại xe. Hệ thống sẽ giúp bạn nhanh chóng chọn ra những chiếc xe phù hợp với các yêu cầu phức tạp hơn về loại xe, dòng xe, đời xe, màu xe, tiện nghi trên xe, v.v. Trong trang giới thiệu của mỗi xe, bạn còn có thể xem hình ảnh thực tế của chính chiếc xe này và phần liệt kê chi tiết các loại phí được tính trong giá thuê xe như phí lưu xe qua đêm, phí cầu đường, khoản đặt cọc.
      a(href="#", title="").bt.bt--default.section-footer__button Xem thêm
