.home-status.d-none.d-md-block
  .container
    .row
      .col-sm-2.col-md-3
        .home-status__item
          +image-lazy('img/logo/banner-status-1.png', 'home-status__item-img')
          span.home-status__item-text Chất lượng
      .col-sm-2.col-md-3
        .home-status__item
          +image-lazy('img/logo/banner-status-2.png', 'home-status__item-img')
          span.home-status__item-text Sự hài lòng
      .col-sm-2.col-md-3
        .home-status__item
          +image-lazy('img/logo/banner-status-3.png', 'home-status__item-img')
          span.home-status__item-text Dịch vụ đa dạng
      .col-sm-2.col-md-3
        .home-status__item
          +image-lazy('img/logo/banner-status-4.png', 'home-status__item-img')
          span.home-status__item-text Tin cậy & an toàn
