.section-block.section-block--gray
  .container
    .section-header
      h2.section-header__title Tư vấn dịch vụ
    .section-footer
      a(href="#", title="").bt.bt--default.section-footer__button Xem thêm
